header {
    padding: 10px;
}

.modalOverlay {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #000;
    opacity: 0;
    z-index: 101;
}

.modalWindow {
    display: none;
    position: fixed;
    top: 50px;
    left: 20px;
    margin: 0;
    border: 2px solid #fff;
    width: 180px;
    /*height:30px;*/
    text-align: center;
    word-spacing: 2px;
    line-height: 15px;
    font-weight: bold;
    font-size: 13px;
    padding: 10px;
    z-index: 102;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #EFEFEF), color-stop(2%, #EFEFEF), color-stop(100%, #DCEBDD));
    background: -o-linear-gradient(top, #EFEFEF 0%, #EFEFEF 2%, #DCEBDD 100%);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: -1px 2px 12px rgba(0, 0, 0, 0.91);
    box-shadow: -1px 2px 12px rgba(0, 0, 0, 0.91);
}

.modalWindowHeader {
    width: 100%;
    line-height: 45px;
    /*height:62px;*/
    padding-top: 3px;
    color: #fff;
    display: block;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8a8a8a), color-stop(2%, #6a6a6a), color-stop(100%, #151515));
    background: -o-linear-gradient(top, #8a8a8a 0%, #6a6a6a 2%, #151515 100%);
}

.modalWindowContent {
    padding: 10px;
    color: #000;
    display: block;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
}    
